<%= form_for [@post, @post.comments.new], remote: true do |f| %>
  <div class="form-group">
    <div class="row">
      <div class="col-md-9">
        <%= image_tag(current_user.avatar.small.url) if current_user.avatar? %>
        <%= f.text_field :body, class: 'form-control', placeholder: 'Enter comment' %>
      </div>
      <div class="col-md-3">
        <%= f.submit 'Comment', class: 'btn btn-success' %>
      </div>
    </div>
  </div>
<% end %>
